*{
    padding: 0px;
    margin: 0px;
}

main{
    width: 60%;
    margin-left: 20%;
}

section{
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
}

header{
    background-color: rgb(18, 55, 102);
    color: white;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0px 0px 0px 0px;
    align-items: center;
}

article ul{
    display: flex;
    flex-direction: column;    
    margin :20px;
    justify-content:center ;
    background-color: rgb(33, 68, 107) ;
    list-style: none;
    align-items: center;
}

article li{
    height: 20px;
    border: 1ps dotted brown;
    padding: 20px;
    display: flex;
    align-items: center;
}

article a{
    text-decoration: none;
}

article li:hover{
    background-color: brown;
}

section >h1 {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

section > div{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted red;
    margin: 10px;
}