button{
    width: 10px;
    height: 40px;
    background-color: aqua;
    color: yellowgreen;
    border: 0;
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button:hover{
    background-color: rgb(49, 38, 199);
    color: azure;
    cursor: pointer;
}


h2{
    font-size: medium;
    color: blue;
}
