

/* #btArea2 >button{
    background-color: green;
} */

button{
    width: 10px;
    height: 40px;
    background-color: aqua;
    color: yellowgreen;
    border: 0;
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
}

button:hover, #btArea2>button:hover{
    background-color: rgb(49, 38, 199);
    color: azure;
    cursor: pointer;
}

#bt3{
    background-color: rebeccapurple;
}

.btGroup{
    background-color: rgb(135, 178, 34);
}

h2{
    font-size: medium;
    color: blue;
}
